html,
#root,
body {
  height: 100%;
  margin: 0px;
  overflow: auto;
  background: linear-gradient(45deg, lightgreen, darkgreen); 
}

body {
  font-family: Helvetica, Arial;
}

.app {
  min-height: 100vh;
  display: flex;
  /* min-width: 900px; */
  width: 60%; 
  margin: 0 auto;
}

.app-paper {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  flex: 1; 
}

.app-body {
  display: flex;
  flex: 1;
  height: 100%;
}

.content {
  position: relative;
  flex: 1;
}

.circular {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
